Nameplates {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff00;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: bold;
	border-radius: 20px;

	.name {
		font-size: 30px;
		font-family: Poppins;
		color: #fff;
	}

	.wanted {
		font-size: 24px;
		font-family: Poppins;
		color: #E74C3C;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 2px 8px;
		border-radius: 4px;
	}
}
