@using Sandbox;
@using global::Entity.Interactable.Printer
@using Utils;
@inherits PanelComponent

<root>
    @if (PrinterLogic != null && PrinterLogic.IsOverheating)
    {
        <div class="title" style="color: red;">OVERHEATING</div>
        <div class="title" style="color: orange; font-size: 35px;">@(PrinterLogic.OverheatTimeRemaining.ToString("F0"))s - Press E!</div>
    }
    else
    {
        <div class="title">$ @(NumberUtils.FormatNumberWithSuffix(PrinterLogic?.PrinterCurrentMoney ?? 0))</div>
    }
</root>

@code
{
    PrinterLogic PrinterLogic { get; set; }

    protected override void OnStart()
    {
        PrinterLogic = GameObject.Parent.Components.Get<PrinterLogic>();
        if (PrinterLogic == null)
        {
            Log.Warning("PrinterLogic not found");
        }
    }

    protected override int BuildHash() => System.HashCode.Combine(
        PrinterLogic?.PrinterCurrentMoney,
        PrinterLogic?.IsOverheating,
        PrinterLogic?.OverheatTimeRemaining.ToString("F0")
    );
}
